<div class="col s12">
  <% if current_user.event_manager? %>
  <div class="row">
    <div class="col s6 offset-s4 post">
        <%= form_tag user_path(current_user), method: :get, id: "user_event_search_form", remote: true do %>
          <%= content_tag :div, class: "input-field col l6 m6 s8" do %>
            <%= text_field_tag(:event_name, "", placeholder: "Search By Event Name") %>
          <% end %>
          <%= content_tag :div, class: "input-field col l2 m2 s4" do %>
          <%= button_tag( class: "btn btn-floating", id: "search-button") do %>
            <%= content_tag :i, "search", class: "material-icons" %>
          <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col l8 m8 s6 offset-m2">
      <label>
        <% all_events = @resources %>
        <strong><%= "Result: #{all_events.size} event".pluralize(all_events.size)%></strong>
      </label>
    </div>
  </div>
  <div class="row">
  <table class="responsive-table bordered tablebot">
    <thead>
    <tr>
    <div class="padtable">
      <th data-field="id">Enable/Disable</th>
      <th data-field="id">Name</th>
      <th data-field="name">Location</th>
      <th data-field="price">Start Date</th>
      <th data-field="price">End Date</th>
      <th data-field="price">Manage</th>
    </tr>
    </div>
    </thead>
    <tbody id="events_lists">
    <%= render "users/eventlist"%>
  </tbody>
  </table>
  <div class="center-align" id="pagination" >
  <%= will_paginate @resources, renderer: MaterializePagination::Rails %>
  </div>
  <a class="btn-floating btn-large round",  "data-position" = "top", "data-tooltip" = "I am tooltip" style="position: fixed; bottom: 645px; left: 180px;" href="<%= events_new_path%>"><i class="material-icons">add</i></a>
  <% else %>
    <%= render "users/users_dashboard"%>
  <% end %>
</div>
