<div class="row">
  <div class="dashboard-search">
    <h5 class="col 12"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i> Account Overview</h5>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel teal milestones">
      <div class="white-text stats-large"><%= @data.attendees %> <i class="fa fa-users fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Attendees</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel red milestones">
      <div class="white-text stats-large">$ <%= @data.tickets_sold  %> <i class="fa fa-ticket fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Tickets Sold</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel blue milestones">
      <div class="white-text stats-large"><%= @data.events %><i class="fa fa-calendar-check-o fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Events</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel black milestones lighten-3">
      <div class="white-text stats-large"><%= @data.sponsors %>  <i class="fa fa-briefcase fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Sponsors</p>
  </div>
</div>
<div class="row">
  <div class="dashboard-search">
    <h5 class="col l6"><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> My Events</h5>
    <%= form_tag dashboard_path, method: :get, id: "user_event_search_form", class: "col l5 s12 right no-margin no-padding", remote: true do %>
      <%= content_tag :div, class: "input-field no-margin" do %>
        <i class="material-icons col l2 dashboard-icon">search</i>
        <%= text_field_tag(:event_name, "", placeholder: "Search By Event Name", class:"col l10")%>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="card col s12 no-margin no-padding">
    <div class="row no-margin no-padding">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <div>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Start Date</th>
              <th data-field="id">&nbsp;</th>
              <th><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</th>
              <th>&nbsp;</th>
            </tr>
          </div>
        </thead>
        <tbody id="events_lists">
          <%= render "users/eventlist" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="center-align dashboard-pagination" id="pagination" >
<%= will_paginate @resources, renderer: MaterializePagination::Rails %>
</div>
