<div class="col s12">
  <% if current_user.event_manager? %>
  <div class="container center">
    <div class="l6">
      <%= form_tag dashboard_path, method: :get, id: "user_event_search_form", remote: true do %>
        <%= content_tag :div, class: "input-field col l6 m6 s8" do %>
          <%= text_field_tag(:event_name, "", placeholder: "Search By Event Name") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container center">
    <label>
      <% all_events = @resources %>
      <strong><%= "Result: #{all_events.size} event".pluralize(all_events.size)%></strong>
    </label>
  </div>
  <div class="row">
  <table class="responsive-table bordered">
    <thead>
    <tr>
    <div>
      <th data-field="id">Enable/Disable</th>
      <th data-field="id">Name</th>
      <th data-field="name">Location</th>
      <th data-field="price">Start Date</th>
      <th data-field="price">End Date</th>
      <th data-field="price">Manage</th>
    </tr>
    </div>
    </thead>
    <tbody id="events_lists">
    <%= render "users/eventlist" %>
  </tbody>
  </table>
  <div class="center-align" id="pagination" >
  <%= will_paginate @resources, renderer: MaterializePagination::Rails %>
  </div>
  <% else %>
    <%= render "users/users_dashboard"%>
  <% end %>
</div>
