<%  @resources.each do |event| %>
  <tr>
    <td><%= link_to event.title, event, :target => "_blank" %></td>
    <td><%= event.location %></td>
    <td><%= event.start_date.strftime("%d %B, %Y") %></td>
    <td>
      <div class="switch">
        <label>
          <%=check_box_tag "enable_event", event.id, event.enabled , class: "enable_event" %>
          <span class="lever mngr-lever"></span>
        </label>
      </div>
    </td>

    <% if current_user.event_manager? %>
    <td class="dashboard-reports">
      <a href="<%=tickets_report_path(event) %>">
        <i class="fa fa-users" aria-hidden="true"></i><%= event.attendees.size.to_s + " Attendees" %><br /> <i class="fa fa-ticket" aria-hidden="true"></i><%= event.user_tickets.size.to_s + " Tickets"  %>
      </a>
    <td>
      <a href="" class="dropdown-button manage_btn" data-activates="dropdown-<%= "#{event.id}" %>"><i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
      </a>
    </td>
    <ul class="dropdown-content right-align" id="dropdown-<%= "#{event.id}" %>">
      <li data-eventId="<%= event.id %>">
        <%= link_to "Edit Event", edit_event_path(event), class:"our-dropdown-content", data: {eventid: event.id } %>
      </li>
      <li class="divider"></li>
      <li><%= link_to "View Booking", event_tickets_path(event), class: "our-dropdown-content", data: {eventid: event.id } %></li>
      <li class="divider"></li>
      <li><%= link_to "Manage Staffs", manage_staffs_path(event), class:"our-dropdown-content", data: {eventid: event.id } %></li>
      <li class="divider"></li>
      <li><%= link_to "Request Remit", remit_path(event), class:"our-dropdown-content", data: {eventid: event.id } %></li>
      <li class="divider"></li>
      <li><%= link_to "Manage Sponsors", event_sponsors_path(event), class:"our-dropdown-content", data: {eventid: event.id } %></li>
      <li class="divider"></li>
    </ul>
    <% end %>
  </tr>
<% end %>