
<%  @resources.each do |event| %>
<tr>
  <td>
    <div class="switch">
    <label>
      Disabled
        <%=check_box_tag "enable_event", event.id, event.enabled , class: "enable_event" %>
      <span class="lever"></span>
      Enabled
    </label>
  </div>
  </td>
  <td><%= event.title %></td>
  <td><%= event.location %></td>
  <td><%= event.start_date.strftime("%d %B, %Y") %></td>
  <td><%= event.end_date.strftime("%d %B, %Y") %></td>
  <td>
    <a href="" class="dropdown-button btn manage_btn" data-activates="dropdown-<%= "#{event.id}" %>">Manage Event
      <i class="material-icons right">keyboard_arrow_down</i>
    </a>
  </td>
  <ul class="dropdown-content right-align" id="dropdown-<%= "#{event.id}" %>">
    <li data-eventId="<%= event.id %>">
      <%= link_to "Edit Event", edit_event_path(event), class:"our-dropdown-content", data: {eventid: event.id } %>
    </li>
    <li class="divider"></li>
    <li><%= link_to "View Event", event, class: "our-dropdown-content" %></li>
    <li class="divider"></li>
    <li><%= link_to "View Ticket", each_event_ticket_path(event), class: "our-dropdown-content", data: {eventid: event.id } %></li>
    <li class="divider"></li>
    <li><%= link_to "Manage Staffs", manage_staffs_path(event), class:"our-dropdown-content", data: {eventid: event.id } %></li>
    <li class="divider"></li>
  </ul>
</tr>
<% end %>
