<div class="row">
  <div class="dashboard-search">
    <h5 class="col l6"><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> My Events</h5>
  </div>
</div>

<div class="row">
  <div class="card col s12 no-margin no-padding">
    <div class="row no-margin no-padding">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <div>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Start Date</th>
              <th data-field="id">Attend/Unattend</th>
            </tr>
          </div>
        </thead>
        <tbody id="events_lists">
          <%  @resources.each do |event| %>
            <% if event.enabled %>
              <tr>
                <td><%= link_to event.title, event, :target => "_blank" %></td>
                <td><%= event.location %></td>
                <td><%= event.start_date.strftime("%d %B, %Y") %></td>
                <td>
                  <div class="switch">
                    <label>
                      <%=check_box_tag "unattend_event", event.id, event.attending?(current_user), class: "unattend_event" %>
                      <span class="lever user-lever"></span>
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br><br><br>
<div class="row">
  <div class="dashboard-search">
    <h5 class="col l6"><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> Featured Events</h5>
    <%= form_tag dashboard_path, method: :get, id: "user_event_search_form", class: "col l5 s12 right no-margin no-padding", remote: true do %>
      <%= content_tag :div, class: "input-field no-margin" do %>
        <i class="material-icons col l2 dashboard-icon">search</i>
        <%= text_field_tag(:event_name, "", placeholder: "Search By Event Name", class:"col l10")%>
      <% end %>
    <% end %>
  </div>
</div>

<%  @all_events.each do |event| %>
  <% if event.enabled %>
    <% unless event.attending?(current_user) %>
      <% @tickets = event.ticket_types.pluck(:price)%>
      <div class="col l4 s12 m4" id="fade-in">
        <div class="card small card-shadow" id="card">
          <div class="Amount">
                <%= event_price(@tickets, event) %>
          </div>
          <div class="card-image waves-effect waves-block waves-light">
            <%=link_to (image_tag event.image_url(:landing)), event, :target => "_blank" %>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">
              <%= event.start_date.strftime("%b %d %Y") %>
            </span>
            <p class="event-name"><%=link_to event.title, event, :target => "_blank" %></p>
          </div>

          <div class="card-action lighten-1">
            <span class="card-title grey-text text-darken-4">
              <i class="fa fa-map-marker"></i>
                 <%= truncate (event.venue + " " + event.location) %>
              <i class="material-icons right activator pointer tooltipped" data-delay="50" data-position="bottom" data-tooltip="view more">more_vert</i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description
              <i class="material-icons right">close</i>
            </span>
            <h5><%= event.title %></h5>
            <p><%= event.description %></p>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="center-align dashboard-pagination" id="pagination" >
<%= will_paginate @resources, renderer: MaterializePagination::Rails %>
</div>