<!-- settings tabs -->
    <div class="row">
    <div class="col s12">
      <ul class="tabs blue-grey lighten-5">
        <li class="tab col s3"><a class="active" href="#sub1">All Subscriptions</a></li>
        <li class="tab col s3"><a class="active" href="#sub2">New Subscription</a></li>
      </ul>
    </div>
    <!-- All subscriptions tab -->
    <div id="sub1" class="col s12">
          <ul class="collection with-header">
            <li class="collection-header teal lighten-2 white-text"><h5>Your Subscriptions</h5></li>
            <% @subscriptions.each do |subscription| %>
              <li class="collection-item" style="overflow: hidden;">
                <div><%=subscription.category.name%><%=link_to "Unsubscribe".html_safe, {controller: :notifications, action: 'destroy', id: subscription.id},method: :destroy, class: 'secondary-content btn waves-effect waves-light red', data: {confirm: "Are you sure you want to unsubscribe"}%></div>
              </li>
            <% end %>
          </ul>
    </div>
    <!-- New subcription tab -->
    <div id="sub2" class="col s12">
      <h6 class="collection-header teal lighten-2 white-text" style="padding: 10px;">Subscribe To A New Category</h6>
      <%= form_for @subscription, url: {controller: :notifications, action: 'create'} do |f| %>
        <p>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label :category_id, 'Select A Category' %>
          <%= f.select(:category_id, options_for_select(@categories), class: 'browser-default') %>
        </p>
        <p>
          <%= f.check_box :email_notification, class: 'filled-in' %>
          <%= f.label :email_notification, 'Would You Like To Receive Email Notifications?' %>
        </p>
        <p>
          <%= f.submit "Subscribe", class: "btn waves-effect waves-light" %>
        </p>
      <% end %>
    </div>
  </div>
