<div>

  <% content_for :nav_cat do %>
        <li class="cyan darken-2">


          <div class="row our-image-cover">
            <div class="col l12 m12 s12">
              <% if @user.profile_url.present? %>
                 <%= image_tag @user.profile_url, class: 'profile_pic circle responsive-img' %>
              <% else %>
                 <%= image_tag 'defaultimage.jpeg', class: 'profile_pic circle responsive-img' %>
              <% end %>
              <%= @user.first_name.split(' ')[0] %>
           </div>
          </div>
        </li>
        <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Events</a>

        </li>
        <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-image-palette "></i> Payments </a>
        </li>
        <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Account </a>
        </li>

        <li class="bold"><a href="<%= signout_path %>" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Logout </a>
        </li>

        <li class="li-hover">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="sample-chart-wrapper">
                <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
              </div>
            </div>
          </div>
        </li>

  <% end %>
  </div>
  <div class="nav-wrapper" style="background-color: teal">
    <%= render partial: 'layouts/nav'%>
  </div>
  <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
  <%= render partial: 'layouts/sidebar'%>
  <%= render template: 'users/all'%>
    </div>
</div>
