<div class="row">
  <div class="dashboard-search">
    <h5 class="col 12"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i> Manage Staff <small>(<%= @event.title%>)</small></h5>
  </div>
</div>

<div class="wrapper">
  <div class="staff">
    <ul class="collection with-header">
      <% @event.event_staffs.each do |staff| %>
        <%= render "manager_profiles/event_staffs", staff: staff %>
      <% end %>
    </ul>
  </div>
  <% if can? :create, EventStaff, event_id: @event.id %>
    <section id="content" >
      <%= form_tag do |f| %>
        <div class="col s12">
          <div class="container">
            <div class="row">
              <div class="input-field col s3">
                <%= select_tag(:role, 
                              options_for_select(@event.event_staffs.roles))%>
              </div>
              <div class="input-field col offset-s1 s5">
                <input type="text" id = "ent_staff_email" 
                    class= "add_staff_field" placeholder="Enter staff email"/>
                <input type="hidden" id = "staff_id" name = "user_id" />
              </div>
              <div class="input-field col s3">
                <%= button_tag  "Submit", id: "save_staff",
                class: "btn waves-effect home_button center z-depth-0"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
