<div class="parallax-container" id="index-banner">
  <%= render "layouts/nav" %>

  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br>
      <h2 class="header center home_app_title">Bring Your Passions to Life</h2>
      <div class="row center">
        <h5 class="header col s12 light home_app_tag">Create a Memorable Event or Find Awesome Ones Here</h5>
      </div>
      <br><br>
      <div class="row center">
        <% if can? :create, Event %>
          <%= create_event_or_login("Create Event", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%elsif !current_user %>
          <%= create_event_or_login("Start an Event", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%else%>
          <%= become_a_manager("Become An Event Manager", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%end%>
      </div>
      <span class="hide-on-med-and-down"><br><br></span>
    </div>
  </div>
  <br>
  <div class="header center search_form our-search l12">
    <h6 class="search-caption">FIND AN EVENT NEAR YOU</h6>
    <%= render "welcome/search" %>
  </div>
  <br>
  <div class="parallax"><%= image_tag "special-event.jpg"%></div>
</div>

<div id="homepage-event-tools" class="row homepage-cards">
  <br><br><h4 class="center">WHAT WE OFFER</h4><br><br>
  <div class="col m4">
    <div class="card teal darken-1 card small">
      <div class="card-image">
        <%= image_tag "office.jpg"%>
        <span class="card-title"><h5>Planning Tools</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Our intuitive planning tools ensure that your event goes as planned.</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card teal darken-1 small">
      <div class="card-image">
        <%= image_tag "Ticket.jpg"%>
        <span class="card-title"><h5>Ticket Management</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Create tickets for your guests and manage ordering easily on Eventx</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card teal darken-1 small">
      <div class="card-image">
        <%= image_tag "Newsletter.jpg"%>
        <span class="card-title"><h5>Newsletters</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Send newsletters and notifications to your guests reminding them about the event</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row homepage-cards">
  <div class="col m4">
    <div class="card teal darken-1 small">
      <div class="card-image">
        <%= image_tag "promote-event.jpg"%>
        <span class="card-title"><h5>Promote your Events</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Use our powerful social media tools to increase attendance and enhance attendee engagement</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card teal darken-1 small">
      <div class="card-image">
        <%= image_tag "manage-events.jpg"%>
        <span class="card-title"><h5>Manage your Events</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Our tools allow you to be in the driver seat and take charge of your events</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card teal darken-1 card small">
      <div class="card-image">
        <%= image_tag "recommend.jpg"%>
        <span class="card-title"><h5>Feedback on Events</h5></span>
      </div>
      <div class="card-content white-text">
        <p>Get ratings and reviews from guests about how they felt about your events</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
<br>
