<div id="index-banner" class="parallax-container">
  <ul class="home_user_options">
    <li class="home_sign_in_or_up"><%= link_to "Log In", "#login_modal", class: "modal-trigger btn_a_tag", data: { target: "login_modal"} %></li>
    <!-- <li class="home_sign_in_or_up"></li> -->
  </ul>
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center home_app_title">EventX</h1>
      <div class="row center">
        <h5 class="header col s12 light home_app_tag">Simple, Easy, Build it</h5>
      </div>
      <div class="row center">
        <%= link_to "Create Event", create_event_path, class: "waves-effect waves-light btn-large  home_button", style: "background-color: #EED8AE; color: #000000"  %>
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
      </div>

      <%= render partial: 'search' %>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'best.jpg'%></div>
</div>

<%= render partial: 'login_modal'%>
<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
