<div class="parallax-container" id="index-banner">
    <%= render partial: "layouts/nav" %>
  <div class="section no-pad-bot">
    <div class="container">
    <br><br>
      <h1 class="header center home_app_title">EventX</h1>
      <div class="row center">
        <h5 class="header col s12 light home_app_tag">Simple, Easy, Build it</h5>
      </div>
      <div class="row center">

        <%= create_event_or_login('Create Event', ['waves-effect', 'waves-light btn-large',  'home_button']) %>

      </div>
      <span class="hide-on-med-and-down"><br><br></span>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'best.jpg'%></div>
  <div class="container header center search_form l8 m8 s8 offset-s2">
    <%= render partial: 'welcome/search' %>
  </div>
  <a href="#featured_events" class="alert-scroll-under"><%= image_tag('scroll_circle.svg', class: 'responsive')%></a>
</div>




<div id="featured_events" class="event-section row remove-margin">
  <div class="col s12" style="padding: 0px 0px">
    <ul class="tabs">
      <li class="tab col s3">
        <!--<a class="active our-tab-color" href="#test1" style="color: #313131 ;" >LATEST</a>-->
        <%= link_to 'LATEST', '#test1', class:'active our-tab-color', style:'color: #313131'  %>
      </li>
      <li class="tab col s3">
        <!--<a href="#test2" class="our-tab-color" style="color: #313131 ;">FEATURED</a>-->
        <%= link_to 'FEATURED', '#test2', class:'our-tab-color', style:'color: #313131', id:'FEATURED' %>
      </li>
      <li class="tab col s3">
        <!--<a href="#test3"class="our-tab-color" style="color: #313131 ;">POPULAR</a>-->
        <%= link_to 'POPULAR', '#test3', class:'our-tab-color', style:'color: #313131', id: 'POPULAR'  %>
      </li>
    </ul>
  </div>
  <div class="col s12" id="test1">
    <div class="content-set">
      <div class="row scrollblock" id="examples-transition">
        <%= render :partial => 'welcome/latest' %>
        <div class="row col l12 s12 m12">
        <div class="center">
          <% unless @events.count < 12 %>
            <%= link_to "SEE MORE", events_path, class: "btn-large z-depth-0 our-search-btn" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>


<div class="col s12" id="test2">
  <div class="content-set">
    <div class="row scrollblock" id="examples-transition2">
      <div class="row col l12 s12 m12">
        <div class="center" style="height: inherit; width: inherit; padding: 15%;">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>
        <div class="center">
          <% unless @events.count < 12 %>
              <%= link_to "SEE MORE", events_path, class: "btn-large z-depth-0 our-search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col s12" id="test3">
  <div class="content-set">
    <div class="row scrollblock" id="examples-transition3">
      <div class="row col l12 s12 m12">
        <div class="center" style="height: inherit; width: inherit; padding: 15%;">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>
        <div class="center">
          <% unless @events.count < 12 %>
              <%= link_to "SEE MORE", events_path, class: "btn-large z-depth-0 our-search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="near-footer">
  <h4>Create your own event</h4>

  <p>Bring people together, or turn your passion into a business.
    <br>
    EventX gives you everything you need to host your best event yet.</p>

  <%= link_to "Learn More", events_new_path, data: { no_turbolink: true }, class: "btn-large bottom_btn z-depth-0"  %>


</div>
