<% @tickets = event.ticket_types.pluck(:price)%>
<div class="col l4 s12 m4" id="fade-in">
  <div class="card small card-shadow" id="card">
    <div class="Amount">
          <%= event_price(@tickets, event) %>
    </div>
    <div class="card-image waves-effect waves-block waves-light">
      <%=link_to (image_tag event.image_url(:landing)), event  %>
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">
        <%= event.start_date.strftime("%b %d %Y") %>
      </span>
      <p class="event-name"><%=link_to event.title, event %></p>
    </div>

    <div class="card-action">
      <span class="card-title grey-text text-darken-4">
        <i class="fa fa-map-marker"></i>
           <%= truncate (event.venue + " " + event.location) %>
        <i class="material-icons right activator pointer tooltipped" data-delay="50" data-position="bottom" data-tooltip="view more">more_vert</i>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Description
        <i class="material-icons right">close</i>
      </span>
      <h5><%= event.title %></h5>
      <p><%= event.description %></p>
    </div>
  </div>
</div>
