
<nav>
  <div class="nav-wrapper create">
    <%=link_to "Event X", root_path, data: { no_turbolink: true }, class: "brand-logo center" %>
    <ul class="right">

      <% if current_user %>
          
          <li>
            <% if current_user.profile_url.present? %>
                <%= image_tag current_user.profile_url, class: 'profile_pic circle responsive-img' %>
            <% else %>
                <%= image_tag 'defaultimage.jpeg', class: 'profile_pic circle responsive-img' %>
            <% end %>

            <%= current_user.first_name %>
          </li>
          <li><%= link_to "Logout", signout_path, data: {no_turbolink: true} %></li>
      <% else %>

          <li>
            <%= link_to "#login_modal", class: "modal-trigger btn_a_tag", data: { target: "login_modal", no_turbolink: true} do %>
                <%= "#{content_tag :i, '', class: "fa fa-lock white_text left"} Log In".html_safe %>
            <% end %>
          </li>

      <% end %>

    </ul>
  </div>
</nav>
