<div class="row", id="booking">
  <div class="col s6 offset-s2">
    <div class="card large padit">
      <div class="card-info">
      <div>
        <h5><i class="fa fa-user prefix icon-setting"></i> Add Ticket</h5>
        <hr>
          <%= render 'categories/form' %>
          <%= form_for @event, html: {class: "col s12", multipart: true} do |f| %>
          <%= f.fields_for :ticket_types do |tickets| %>
          <%= render "events/ticket_type_fields", f: tickets, locals: {f: tickets} %>
          <% end %>
          <div class="links">
            <%= link_to_add_association content_tag(:span, 'Add Ticket', class: "btn btn-circle"), f, :ticket_types, class: '' %>
          </div>
        </div>
        <!-- Add Staff -->
        <div class="row">
          <div style="margin-bottom: 200px; margin-left: 50px;">
          </div>
          <div class="event_ticket_field">
            <h5><i class="fa fa-user prefix icon-setting"></i> Add Staff</h5>
            <hr>
            <div class="event_staffs" id="event_staffs"><%= @event.get_event_staffs %></div>
            <%= render "staff_fields" %>
          </div>
        </div>
        <!--End add staff -->
        <!-- Add Highlight -->
        <div class="row">
          <div style="margin-bottom: 80px; margin-left: 50px;">
          </div>
          <div class="event_highlights_field">
            <h5><i class="fa fa-th-list prefix icon-setting"></i> Add Highlight</h5>
            <hr>
            <div class="event_staffs" id="event_highlights">
              <ul class="collapsible" data-collapsible="accordion" id="highlight_table">
                <% if @highlights %>
                <% count = 0 %>
                <% @highlights.each do |h| %>
                <%= render "highlight", highlight: h, count: count %>
                <% count += 1 %>
                <% end %>
                <% end %>
              </ul>
            </div>
            <%= render "highlight_fields", field_id: "_new"  %>
            <div class="col s4">
              <button type="button" id="add_highlight" class="btn btn-circle staff_add_btn">
              Add Highlight
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col s3 offset-s4 center">
        <%= link_to "Preview <i class='fa fa-hand-o-right'></i>".html_safe, "#", class: "col s12 btn-large waves-effect waves-light home_button center preview z-depth-0"  %>
      </div>

    </div>

    <%# end %>

  </div>
</div>

<div class="col s12 offset-s3" id="preview">
<!-- <iframe id="frame" scrolling="yes" src="30" width="80%" height="500px" frameborder="0" style="margin:0 auto;">
  </iframe> -->

  <div class="" id="preview-event-div" style="width: 80%; height: 500px; margin: 0 auto 5% auto; overflow: auto;">
    <% @current_page = "new" %>
    <%= render "event_details" %>
  </div>
  <div class="col s3 offset-s4 center">
    <button class="col s12 btn-large waves-effect waves-light home_button center z-depth-0" id="save_event">Save
      <i class="fa fa-floppy-o"></i>
    </button>

    </div>
    <!--End add highlight -->
  </div>
</div>
<% end %>
