<div class="row col s12 nested-fields">


  <% if @event.recurring_event.persisted? %>
  <div class="col s12 center pull-s1">
    <label>Recurrency:</label>
  </div>
  <% end %>

<div class="input-field col s3">
<%= f.select :frequency, options_for_select(RecurringEvent::FREQUENCY, @event.recurring_event.frequency), { include_blank: "How frequent?" }, class: "browser-default"  %>
</div>


  <% if @event.recurring_event.persisted? && @event.recurring_event.week? %>
  <div class="input-field col s4 week-frequency">
<%= f.select :week, options_for_select(RecurringEvent::WEEK, @event.recurring_event.week), { include_blank: "What week of the month?" }, class: "browser-default"  %>
  </div>
  <% else %>
  <div class="input-field col s4 week-frequency display-none">
<%= f.select :week, options_for_select(RecurringEvent::WEEK, @event.recurring_event.week), { include_blank: "What week of the month?" }, class: "browser-default"  %>
  </div>
  <% end %>


  <% if @event.recurring_event.persisted? && @event.recurring_event.day? %>
  <div class="input-field col s4 day-frequency">
<%= f.select :day, options_for_select(RecurringEvent::DAY, @event.recurring_event.day), { include_blank: "What day of the week?" }, class: "browser-default"  %>
  </div>
  <% else %>
  <div class="input-field col s4 day-frequency display-none">
<%= f.select :day, options_for_select(RecurringEvent::DAY, @event.recurring_event.day), { include_blank: "What day of the week?" }, class: "browser-default"  %>
  </div>
  <% end %>


  <% if @event.recurring_event.persisted? %>
    <div class="close-cocoon col-sm-2 pull-right">
      <%= link_to_remove_association "<i class='material-icons'>delete</i>".html_safe, f, class: "btn btn-floating red"  %>
    </div>
  <% end %>

</div>