<h2 class="our_description_title reviews-header">Reviews</h2>

<div class="row">
  <div class="col s12 m12 l12">

    <% @event.reviews.each do |review| %>

      <div class="review" id="review">

        <div class="review-author">
              <% if review.user.profile_url.present? %>
              <%= image_tag review.user.profile_url, class: "review-author-pic circle responsive-img" %>
              <% else %>
              <%= image_tag "defaultimage.jpeg", class: "left review-author-pic circle responsive-img" %>
              <% end %>
        </div>

        <div class="review-content">

          <div class="review-header">
            <h5 class="review-author-name"><%= review.user.first_name.split(" ")[0] %></h5>
            <div class="review-rating">
                <% review.rating.times  do %>
                <span class="filled-in-star star-size">&#9734;</span>
                <% end %>
                <% (5 - review.rating).times do %>
                <span class="star-size">&#9734;</span>
                <% end %>
            </div>
          </div>

          <div class="review-content-body" id="reviewBodyContent">
            <%= review.body %>

            <%= render "events/comments" %>

            <%= render "events/comment_form", review:  review %>
          </div>

        </div>

      </div>



    <% end %>

  </div>
</div>
