<div class="row", id="template">
  <div class="col s6 offset-s2">
    <div class="card large padit">
      <div class="card-info">
        <div class="row category-selected">
          <div class="row radio-select">
            <h5>Select a template</h5>
            <hr>
            <div class="input-field col s10">
              <div class="temps">
                <% all_template.each do |i|%>
                <span class="col s6 m3 center temp_image">
                  <input id="<%= i.name %>" name="event[event_template_id]" type="radio" value="<%= i.id %>"/>
                  <label for="<%= i.name %>">
                    <%= image_tag "#{i.image}" %>
                  </label>
                </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col s3 offset-s4 center">
          <%= link_to "Preview <i class='fa fa-hand-o-right'></i>".html_safe, "#", class: "col s12 btn-large waves-effect waves-light home_button center preview z-depth-0"  %>
        </div>
        <div class="col s12 offset-s3" id="preview">
          <iframe id="frame" scrolling="yes" src="30" width="80%" height="500px" frameborder="0" style="margin:0 auto;">
          </iframe>
          <div class="" id="preview-event-div" style="width: 80%; height: 500px; margin: 0 auto 5% auto; overflow: auto;">
            <% @current_page = "new" %>
            <%= render "event_details" %>
          </div>
          <div class="col s3 offset-s4 center">
            <button class="col s12 btn-large waves-effect waves-light home_button center z-depth-0" id="save_event">Save
            <i class="fa fa-floppy-o"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


