<div>
  <div style="margin-bottom: 20px; margin-left: 50px;"> <label>Create Ticket</label></div>
  <div class="row ">
  <div class="row col s12" id="paid_ticket_div">
    <div class="input-field col s5">
      <i class="fa fa-ticket prefix icon-setting"></i>

      <%= f.label :name, "Ticket Title" %>
      <%= f.text_field :name, placeholder: 'Ticket Title' %>

    </div>
    <div class="input-field col s2">
      <%= f.label :quantity, "Quantity" %>
      <%= f.number_field :quantity, min: 0, placeholder: 'Ticket Title' %>
    </div>
    <div class="input-field col s2">
      <%= f.label :price, "Price" %>
      <%= f.number_field :price, min: 0, placeholder: 'Price', value: 0%>
    </div>
  </div>
  </div>
</div>
