<div class="navbar-fixed">
  <%= render "layouts/admin_nav" %>
</div>
<main>
<div class="container margin-down">
  <h4 class="col 12">
    <i class="fa fa-cogs fa-lg" aria-hidden="true"></i> Manage Event 
    <small>(<%= link_to @event.title, event_path(@event.id) %>)</small>
  </h4 >
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3 "><a href="#edit-event">Edit Event</a></li>
          <li class="tab col s3"><a class="active" href="#staff">Staff</a></li>
          <li class="tab col s3"><a href="#sponsors">Sponsors</a></li>
          <li class="tab col s3"><a href="#tasks">Tasks</a></li>
        </ul>
      </div>

      <div id="edit-event" class="col s12">
        <% if can? :manage, Event %>
          <%= render "form" %>
        <% else %>
          <%= render "form", disable: true %>
        <% end %>
      </div>

      <div id="staff" class="col s12">
        <% #binding.pry %>
        <% if can? :crud, Event %>
          <%= render file: "manager_profiles/manage_staffs" %>
        <% elsif can? :cru, Event %>
          <%= render file: "manager_profiles/manage_staffs", locals: { disable_delete: true } %>
        <% else %>
          <%= render file: "manager_profiles/manage_staffs", locals: { disable_create: true, disable_delete: true } %>
        <% end %> 
      </div>

      <div id="sponsors" class="col s12">
        <%= render file: "sponsors/index" %>
      </div>

      <div id="tasks" class="col s12">
        To be implemented
      </div>
    </div>    
</div>
</main>
