<div class="showpage-header" id="index-banner">
  <div style="background-color: #222222 !important; height: 64px;">
    <%= render "layouts/nav" %>
  </div>
  <%= render "layouts/sidebar"%>

  <div class="col l12">
    <div class="row our-search">
      <div class="header center search_form our-search l12">
        <%= render "welcome/search" %>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="map-canvas" style="height: 250px"></div>
  <div class="row" style="text-align: center">
    <ul class="pagination">
      <li class="bold"><h5>Filter by Category: </h5></li>
      <li class="active">
        <%= link_to "All", events_path, id: "all", remote: true  %>
      </li>
      <% @categories.each do |category| %>
        <li>
          <%= link_to "#{category.name}", events_path(category_id: category.id), id: "#{category.name.split.first.downcase}", remote: true  %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="content-set" id="events">
      <%= render "events_card", events: @events %>
    </div>
  </div>

</div>
<script type="text/javascript">
  function all_events(){
    return JSON.parse('<%= @events.to_json.html_safe %>');
  }

  function infoHtml(event){
    return `<h6>` + event.title + `</h6>
                <p>` + event.description + `</p>
              <div class="card-action">
                <a href="<%= request.protocol + request.host + "/events/" %>`+ event.id +`">VISIT PAGE</a>
            </div>`;
  }
</script>
