<div class="create_header_background">
  <div class="creat-overlay">
    <%= render "layouts/nav" %>
    <div class="container">
      <h2 class="center">Start your Event Experience
      </h2>
      <p class="center">Create it, Preview it, Publish it!</p>
    </div>
  </div>
</div>
<%= form_for @event, html: {class: "col s12", multipart: true, id: "event_form"} do |f| %>
  <%= render "create_event_card", f: f %>
  <%= render "preview_event", f: f %>
  <%= render "select_template", f: f %>
  <%= render "preview_template", f: f %>
<% end %>
  <%= render "navigate_next_event_form" %>