<div class="parallax-container showpage-header" id="index-banner">
  <%= render partial: "layouts/nav" %>
  <div class="parallax"><%= image_tag 'best5.png'%></div>
</div>

<div class="row">
<div class="col s12">
  <ul class="tabs">
    <li class="tab col s3"><a href="#create_event" class="active">Create Event</a></li>
    <li class="tab col s3"><a href="#customize">Customize Event</a></li>
    <li class="tab col s3"><a href="#preview">Preview</a></li>
  </ul>
</div>

<%= render template: 'events/create_event' %>

<%= render template: 'events/customize' %>

<%= render template: 'events/preview' %>
</div>
