<div>
  <div class="our-new-custom-nav">
    <%= render "layouts/nav" %>
  </div>
  </div>
<div id="main">
  <div class="wrapper">
    <%= render partial: "layouts/dashboard_sidebar"%>
    <div class= "row">
    <%= render partial: "popular_events_slides"%>
    <%= render partial: "filter_popular_categories"%>
    <%= render partial: "popular_events"%>
    </div>
  </div>
</div>