<div class="parallax-container showpage-header" id="index-banner">
  <%= render partial: "layouts/nav" %>
  <!--<nav class="custom_nav landing z-depth-0">-->
    <!--<div class="nav-wrapper">-->
      <!--<a href="#" data-activates="nav_mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    <!--</div>-->
  <!--</nav>-->

  <div class="parallax"><%= image_tag 'best5.png'%></div>
</div>

<div class="event-section row remove-margin">
      <ul id="nav_mobile" class="side-nav left-sidebar-nav">
        <div class="col s6 m4 our-sidenav mobile-scroller">
          <div class="collection our-sidenav">
            <label class="collection-header out-cat-color2"><h5 >Categories</h5></label>
            <% @categories = {All: 8, Tech: 1, Business: 2, Seminar: 3, Conference: 4, Party: 5, Dinner: 6, Others: 7, Jasmine: 8, Junior: 9} %>
            <% @val = 4  %>
            <% @categories.each do |name, id|%>
                <%= link_to_if(id== @val, name, "#", class: "collection-item active our-collection-item our-tab2-color") do
                  link_to(name, "#", class: "collection-item our-collection-item our-cat-color")
                end%>
            <% end %> <!--add class active to make it active-->
          </div>
        </div>
      </ul>

      <div class="col s6 m3 our-sidenav scroller hide-on-med-and-down">
        <div class="collection our-sidenav">
          <label class="collection-header out-cat-color2"><h5 >Categories</h5></label>
          <% @categories = {All: 8, Tech: 1, Business: 2, Seminar: 3, Conference: 4, Party: 5, Dinner: 6, Others: 7, Jasmine: 8, Junior: 9} %>
          <% @val = 4  %>
          <% @categories.each do |name, id|%>
              <%= link_to_if(id== @val, name, "#", class: "collection-item active our-collection-item our-tab2-color") do
                   link_to(name, "#", class: "collection-item our-collection-item our-cat-color")
               end%>
          <% end %> <!--add class active to make it active-->
        </div>
      </div>

      <div class="col l9 m12 s12 our-sidenav scroller2">
        <div class="row our-search">
          <div class="header center search_form our-search l12 m12 s12">
            <%= render partial: 'welcome/search' %>
          </div>
          <div></div>
        </div>
        <div class="content-set">
          <div class="row scrollblock" id="examples-transition">
            <% 12.times do %>
                <div class="col l4 s12 m4 hideme2" id="fade-in">
                  <div class="card small card-shadow" id="card">
                    <div class="Amount">Free</div>
                    <div class="card-image waves-effect waves-block waves-light">
                      <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
              <span class="card-title grey-text text-darken-4">
                <i class="fa fa-clock-o"></i>
                WED, JUL 29 5:00 PM
              </span>
                      <p>2nd Annual Women in Business and Leadership Summit 2015</p>
                    </div>

                    <div class="card-action">
              <span class="card-title grey-text text-darken-4">
                <i class="fa fa-map-marker"></i>
                LEKKI LAGOS
                <i class="material-icons right activator pointer tooltipped" data-delay="50" data-position="bottom" data-tooltip="view more">more_vert</i>
              </span>
                    </div>
                    <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title
                <i class="material-icons right">close</i>
              </span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>
</div>
