<%= form_for(sponsor, url: event_sponsors_path(sponsor.event_id) + "/#{sponsor.id}", remote: true) do |f| %>
  <div class="col l4">
    <%= f.label :name, "Name", class: "bold black-text" %>
    <%= f.text_field :name, placeholder:"Name", class: "validate", required: :require,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="l4">
    <%= f.label :url, "Website", class: "bold black-text" %>
    <%= f.text_field :url, class: "validate", required: :required,  pattern: "(https?://)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", title: "Enter a valid url" %>
  </div>
  <div class="sponsor-level col l4">
    <%= f.label :level, "Level", class: "bold black-text" %>
    <%= f.select :level, options_for_select(sponsor_level), {include_blank: "Choose Sponsorship Level"} %>
  </div>
  <div class="col l4">
    <%= f.label :summary, "Brief Description", class: "bold black-text" %>
    <%= f.text_field :summary, class: "validate", required: :required,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="col l4">
    <%= f.label :logo, "Logo", class: "bold black-text" %>
    <%= f.file_field(:logo, required: :required)%>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn save-sponsor-button cancel-sponsor-button">Cancel</a>
    <%= f.submit "Save", id: "saveSponsor", class: "waves-effect waves-green btn save-sponsor-button" %>
  </div>
<% end %>
