<h1></h1>
<h4>
  <%= @greeting %>,
</h4><br>
<p>The invitation you sent to <%= @invite.email %> to <%= @invite.role_specification %> at <%= @invite.event.description %> has been <em><%= @status %></em>. You can manage your staff details <a href="<%= @manage_staff_link %>">here</a></p><br>
Best Regards