<%= form_for(event_sponsor, url: event_eventsponsors_path(event_sponsor.event_id) + "/#{event_sponsor.id}", remote: true) do |f| %>
  <div class="input-field col l4">
    <%= f.label :name, "Name", class: "bold black-text" %>
    <%= f.text_field :name, class: "validate", required: :require,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="input-field col l4">
    <%= f.label :url, "Website", class: "bold black-text" %>
    <%= f.text_field :url, class: "validate", required: :required,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="sponsor-level col l4">
    <%= f.label :level, "Level", class: "bold black-text" %>
    <%= f.select :level, Eventsponsor.levels.keys.map{|k, v| k}, class: 'user-roles-select' %>
  </div>
  <div class="input-field col l4">
    <%= f.label :summary, "Brief Description", class: "bold black-text" %>
    <%= f.text_field :summary, class: "validate", required: :required,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="col l4">
    <%= f.label :logo, "Logo", class: "bold black-text" %>
    <%= f.file_field(:logo) %>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <%= f.submit "Save" %>
  </div>
<% end %>
