<% event_sponsors.each do |sponsor| %>
<div class="col s12 l4 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= sponsor.logo_url(:landing)%>">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= sponsor.name %><i class="material-icons right">more_vert</i></span>
      <p><%= link_to sponsor.url, "/" %></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= sponsor.name %><i class="material-icons right">close</i></span>
      <p><%= sponsor.summary %></p>
    </div>
    <%= can_manage_sponsor(sponsor) %>
  </div>
</div>
<% end %>
