<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', 'green', 'welcome'  %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places','application' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <title><%= @event.title %></title>
</head>

<body id="" onload="countdown(convertDate('<%= @event.start_date.strftime('%F') %>'))">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'EventX', root_path, class:'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#top">Home</a></li>
        <li class=""><a href="#description">About</a></li>
        <li class=""><a href="#schedule">Schedule</a></li>
        <li class=""><a href="#gallery">Attendee</a></li>
        <li class=""><a href="#venue">Venue</a></li>
      </ul>
    </div>

  </div>
</nav>

<%= content_tag(:header, class: "header", id:"top", style: "background: url(#{@event.image_url()});") do %>
  <%= content_tag(:div, nil, style: "height: 100%; width: 100%; position: absolute; background-color: rgba(0,0,0,0.4)") do%>
    <%= content_tag(:h3, @event.title, style: "padding-top: 20%; font-size: 64px; color: white; font-family: 'Roboto', sans-serif;") %>
    <label id="counter"></label>
    <%= content_tag(:label, "#{@event.start_date.strftime("%b %d %Y")} to #{@event.end_date.strftime("%b %d %Y")}", style: "display: block; font-size: 24px; color: white; font-family: 'Roboto', sans-serif;")  %>
    <%= link_to "Attend this event! <i class='fa fa-plus'></i>".html_safe, "#", class: "btn btn-primary btn-lg our-btn-green"  %>
  <% end %>
<% end %>
<div id="description" class="description">
  <div class="container">
    <h2 class="text-center"> Description</h2>
   <p class="lead ">
    <%= @event.description %>
   </p>
    <div class="text-center">
    <a class="atcb-link" tabindex="1" id=""><i class="fa fa-calendar"> </i> Add to My Calendar</a>
    </div>
  </div>
</div>

<div class="col-md-8 col-md-offset-2" id="gallery">

</div>

<div class="col-md-12" id="venue" class="venue" style="height: 70%; padding:0px">
  <div class="map-overlay"></div>
  <iframe id="frame" scrolling="no" src=<%= "#{@event.map_url}&output=embed" %> width="100%" height="100%" frameborder="0"></iframe>
 </div>



</body>
</html>
