<div class="content">
  <div class="message">
    <p>Hi <%= @recipient_name %>! <br />
      <%= @sender_name %> is trying to sell you tickets for an event. Please find details below.
    </p> 
  </div>

  <div class="field">
    <p><b>TransactionID:</b> <%= @transaction_id %></p>
  </div>

  <div class="field">
    <p><b>Event Title:</b> <%= @event_title %></p>
  </div>

  <div class="field">
    <p><b>Event Description:</b> <%= @event_description %></p>
  </div>

  <div class="field">
    <p><b>Start Date:</b> <%= @event_start_date %></p>
  </div>

  <div class="field">
    <p><b>End Date:</b> <%= @event_end_date %></p>
  </div>

  <div class="field">
    <p><b>Number of tickets:</b> <%= @no_of_tickets %></p>
  </div>
  
  <div class="field">
    <p><b>Status:</b> <%= @status %></p>
  </div>

  <div class="field">
    <p><b>Ticket Price:</b> <%= @amount %></p>
  </div>

  <div class="field">
    <%= link_to 'Proceed to checkout',  checkout_url(@transaction_id, host: 'lvh.me:3000'), class: 'btn-primary' %>
  </div>

  <div class="field">
  <%= link_to 'Not interested',  ticket_transaction_url(@transaction_id, host: 'lvh.me:3000')+ "?delete=true", class: 'btn-primary' %>
  </div>
</div>
