<div class="content">
      <table>
        <tr>
          <td>
            <p>Hi <%= @recipient_name %>,</p>
            <p><%= @sender_name %> is trying to sell you tickets for an event. Please find details below.</p> 

            <table cellpadding="0" cellspacing="0" border="0">

            <tr>
                <th>Transaction ID</th>
                <td><%= @transaction_id %></td>
              </tr>

              <tr>
                <th>Event Title</th>
                <td><%= @event_title %></td>
              </tr>

              <tr>
                <th>Event Description</th>
                <td><%= @event_description %></td>
              </tr>

              <tr>
                <th>Start Date</th>
                <td><%= @event_start_date %></td>
              </tr>

              <tr>
                <th>End Date</th>
                <td><%= @event_end_date %></td>
              </tr>

              <tr>
                <th>Number of tickets</th>
                <td><%= @no_of_tickets %></td>
              </tr>

              <tr>
                <th>Status</th>
                <td><%= @status %></td>
              </tr>

              <tr>
                <th>Amount</th>
                <td><%= @amount %></td>
              </tr>
  
            </table>
            
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <!-- <td>
                  <a href="http:">Proceed to checkout</a>
                </td> -->

                <td>
                 <%= link_to 'Proceed to checkout',  checkout_url(@transaction_id, host: 'lvh.me:3000') %>
                </td>
              </tr>
            </table>

            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                 <%= link_to 'Not interested',  ticket_transaction_url(@transaction_id, host: 'lvh.me:3000')+ "?delete=true" %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>
