<div>
  <div class="our-new-custom-nav">
    <%= render "layouts/nav" %>
  </div>
  </div>
<div id="main">
  <div class="wrapper">
      <%= render partial: "layouts/dashboard_sidebar"%>
      <div class="row">
        <div class="col s9"></div>
    </div>

<div class="row">
    <% if @ticket_transactions.empty? %> 
        <h2>You have no pending ticket transactions</h2>
     <% else %> 
      <table>
        <thead>
          <tr>
              <th>Transaction#</th>
              <th>Recipient Name</th>
              <th>Status</th>
              <th>Event</th>
              <th>Number of Tickets</th>
          </tr>
        </thead>
        <tbody>
          <% @ticket_transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.id %></td>
              <td><%= transaction.payers_name%></td>
              <td><%= transaction.status %></td>
              <td><%= transaction.event %></td>
              <td><%= transaction.ticket_count %></td>
              <td><a href="/ticket_transactions/<%= transaction.id %>">view</a></td>
            </tr>
          <% end %>
    <% end %> 
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
