<li>
   <div class="collapsible-header">
     <span class="left"><%= highlight.day %> - <%= highlight.title %></span>
     <span class="right"><%= highlight.start_time %> - <%= highlight.end_time %></span></div>
     <div class="collapsible-body">
       <div class="row">
         <div class="col l6 m6" style="padding:30px">
           <div class="card-panel">
             <img id="img" class="materialboxed" width="100%" data-caption="<%= highlight.image_title %>" src="<%= highlight.image_url(:landing) %>"/>
           </div>
       </div>
       <div class="col l6 m6">
         <p><%= highlight.description %></p>
       </div>
     </div>
   </div>
  </li>
