<% url = @id ? show_event_highlight_path(@id, highlight) : "#" %>
 <li>
   <div class="collapsible-header tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to Expand">
     <%= highlight.title %>
     <span class="right"><%= highlight.start_time %> - <%= highlight.end_time %></span></div>
     <div class="collapsible-body">
       <div class="row">
         <div class="col l6 m6">
           <div class="card-panel">
             <img id="img" class="materialboxed" width="100%" data-caption="<%= highlight.image_title %>" src="<%= highlight.image_url(:landing) %>"/>
           </div>
       </div>
       <div class="col l6">
         <p><%= highlight.description %></p>
       </div>
     </div>
   </div>
  </li>
