<nav class="custom_nav z-depth-0">
  <div class="nav-wrapper">
    <a href="#" data-activates="nav_mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right">

      <% if current_user %>

           <li class="hide-on-small-only">
              <% if current_user.profile_url.present? %>
                 <%= image_tag current_user.profile_url, class: 'profile_pic circle responsive-img' %>
              <% else %>
                 <%= image_tag 'defaultimage.jpeg', class: 'profile_pic circle responsive-img' %>
              <% end %>
             <%= current_user.first_name %>
           </li>
           <li><%= link_to "Logout", signout_path, data: {no_turbolink: true} %></li>
      <% else %>

          <li>
            <%= link_to "#login_modal", class: "modal-trigger btn_a_tag", data: { target: "login_modal", no_turbolink: true} do %>
              <%= "#{content_tag :i, '', class: "fa fa-lock white_text left  hide-on-small-only"} Log In".html_safe %>
            <% end %>
          </li>

      <% end %>

    </ul>
    <ul class="side-nav" id="nav_mobile">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
  </div>
</nav>
