<nav class="custom_nav landing z-depth-0">
  <div class="nav-wrapper">
    <a href="#" data-activates="nav_mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <!--<div id="nav-fix1">-->
        <ul class="left"><h3 class="header home_app_title before-scroll">EventX</h3></ul>
        <ul class="right">

          <% if current_user %>

               <li class="hide-on-small-only">
                  <% if current_user.profile_url.present? %>
                     <%= image_tag current_user.profile_url, class: 'profile_pic circle responsive-img' %>
                  <% else %>
                     <%= image_tag 'defaultimage.jpeg', class: 'profile_pic circle responsive-img' %>
                  <% end %>
                 <%= current_user.first_name %>
               </li>
               <li><%= link_to "Logout", signout_path, data: {no_turbolink: true} %></li>
          <% else %>

              <li>
                <%= link_to "#login_modal", class: "modal-trigger btn_a_tag", data: { target: "login_modal", no_turbolink: true} do %>
                  <%= "#{content_tag :i, '', class: "fa fa-lock white_text left  hide-on-small-only"} Log In".html_safe %>
                <% end %>
              </li>

          <% end %>

        </ul>
    <!--</div>-->





    <!-- START LEFT SIDEBAR NAV-->
  <ul id="nav_mobile" class="side-nav left-sidebar-nav">
    <li class="user-details cyan darken-2">
      <div class="row">
        <div class="col col s4 m4 l4">
          <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
        </div>
        <div class="col col s8 m8 l8">
          <ul id="profile-dropdown" class="dropdown-content">
            <li><a href="index.html#"><i class="mdi-action-face-unlock"></i> Profile</a>
            </li>
            <li><a href="index.html#"><i class="mdi-action-settings"></i> Settings</a>
            </li>
            <li><a href="index.html#"><i class="mdi-communication-live-help"></i> Help</a>
            </li>
            <li class="divider"></li>
            <li><a href="index.html#"><i class="mdi-action-lock-outline"></i> Lock</a>
            </li>
            <li><a href="index.html#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
            </li>
          </ul>
          <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="index.html#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
          <p class="user-roal">Administrator</p>
        </div>
      </div>
    </li>
    <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
    </li>
    <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
    </li>
    <li class="bold"><a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> CSS</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="css-typography.html">Typography</a>
              </li>
              <li><a href="css-icons.html">Icons</a>
              </li>
              <li><a href="css-shadow.html">Shadow</a>
              </li>
              <li><a href="css-media.html">Media</a>
              </li>
              <li><a href="css-sass.html">Sass</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> UI Elements</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="ui-buttons.html">Buttons</a>
              </li>
              <li><a href="ui-badges.html">Badges</a>
              </li>
              <li><a href="ui-cards.html">Cards</a>
              </li>
              <li><a href="ui-collections.html">Collections</a>
              </li>
              <li><a href="ui-accordions.html">Accordian</a>
              </li>
              <li><a href="ui-tabs.html">Tabs</a>
              </li>
              <li><a href="ui-navbar.html">Navbar</a>
              </li>
              <li><a href="ui-pagination.html">Pagination</a>
              </li>
              <li><a href="ui-preloader.html">Preloader</a>
              </li>
              <li><a href="ui-modals.html">Modals</a>
              </li>
              <li><a href="ui-media.html">Media</a>
              </li>
              <li><a href="ui-toasts.html">Toasts</a>
              </li>
              <li><a href="ui-tooltip.html">Tooltip</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a href="app-widget.html" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Widgets <span class="new badge"></span></a>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Tables</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="table-basic.html">Basic Tables</a>
              </li>
              <li><a href="table-data.html">Data Tables</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-insert-comment"></i> Forms</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="form-elements.html">Form Elements</a>
              </li>
              <li><a href="form-layouts.html">Form Layouts</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-social-pages"></i> Pages</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="page-contact.html">Contact Page</a>
              </li>
              <li><a href="page-todo.html">ToDos</a>
              </li>
              <li><a href="page-blog-1.html">Blog Type 1</a>
              </li>
              <li><a href="page-blog-2.html">Blog Type 2</a>
              </li>
              <li><a href="page-404.html">404</a>
              </li>
              <li><a href="page-500.html">500</a>
              </li>
              <li><a href="page-blank.html">Blank</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> eCommers</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="eCommerce-products-page.html">Products Page</a>
              </li>
              <li><a href="eCommerce-pricing.html">Pricing Table</a>
              </li>
              <li><a href="eCommerce-invoice.html">Invoice</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-image"></i> Medias</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="media-gallary-page.html">Gallery Page</a>
              </li>
              <li><a href="media-hover-effects.html">Image Hover Effects</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> User</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="user-profile-page.html">User Profile</a>
              </li>
              <li><a href="user-login.html">Login</a>
              </li>
              <li><a href="user-register.html">Register</a>
              </li>
              <li><a href="user-forgot-password.html">Forgot Password</a>
              </li>
              <li><a href="user-lock-screen.html">Lock Screen</a>
              </li>
              <li><a href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-session-timeout.html">Session Timeout</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Charts</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="charts-chartjs.html">Chart JS</a>
              </li>
              <li><a href="charts-chartist.html">Chartist</a>
              </li>
              <li><a href="charts-morris.html">Morris Charts</a>
              </li>
              <li><a href="charts-xcharts.html">xCharts</a>
              </li>
              <li><a href="charts-flotcharts.html">Flot Charts</a>
              </li>
              <li><a href="charts-sparklines.html">Sparkline Charts</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="li-hover">
      <div class="divider"></div>
    </li>
    <li class="li-hover">
      <p class="ultra-small margin more-text">MORE</p>
    </li>
    <li><a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
    </li>
    <li><a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
    </li>
    <li><a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
    </li>
    <li><a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
    </li>
    <li class="li-hover">
      <div class="divider"></div>
    </li>
    <li class="li-hover">
      <p class="ultra-small margin more-text">Daily Sales</p>
    </li>
    <li class="li-hover">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="sample-chart-wrapper">
            <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
<!-- END LEFT SIDEBAR NAV-->









    <!-- <ul class="side-nav" id="nav_mobile">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul> -->
  </div>
</nav>
