<!DOCTYPE html>
<html>

<head>
  <title>EventX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Great+Vibes", "https://fonts.googleapis.com/icon?family=Material+Icons", "https://fonts.googleapis.com/css?family=Open+Sans:300,600", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application','https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice].present? %>
  <div>
    <script type="text/javascript">
        Materialize.toast("<%= flash[:notice].to_s %>", 3000, 'rounded')
    </script>
  </div>
<% end %>

    <%= yield %>

    <%= render partial: 'layouts/login_modal'%>


    <% if (controller_name == "events" && (action_name == "index" || action_name=="loading" || action_name=="show" )) || (controller_name  == "users" && action_name == "index")%>

    <% else %>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h6 class="grey-text">Plan Events</h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Event Academy</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Classes</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Conferences</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Edurance Events</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Food & Wine</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Music Festivals</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Nonprofits & Fundraisers</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Performing Arts</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Politics</a></li>
            </ul>
          </div>
          <div class="col l3  s12">
            <h6 class="grey-text">Using Eventx</h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">How It Works</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Pricing</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">X Community</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Security</a></li>
            </ul>
          </div>

          <div class="col l3  s12">
            <h6 class="grey-text">Popular Searches</h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Sell Tickets</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Online Registration</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Post Events</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Event Planning</a></li>
            </ul>
          </div>

          <div class="col l3  s12">
            <h6 class="grey-text">Connect with us</h6>
            <ul>
              <li><i class="fa fa-facebook-square grey-text"></i> <a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><i class="fa fa-twitter-square grey-text"></i> <a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li><i class="fa fa-google-plus-square grey-text"></i> <a class="grey-text text-lighten-3" href="#!">Google+</a></li>
              <li><i class="fa fa-envelope-o grey-text"></i> <a class="grey-text text-lighten-3" href="#!">Email</a></li>
            </ul>
          </div>

        </div>
        <nav class="z-depth-0">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
          <a href="#" class="brand-logo home_app_title">EventX</a>
        </nav>
      </div>
      <div class="footer-copyright">
        <div class="container">
          ©
          <%= Time.now.year %> Copyright EventX.
        </div>
      </div>
    </footer>
 <% end %>
</body>

</html>
